@mixin flex($x: center, $y: center, $dir: row, $wrap: nowrap, $gap: 0) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-direction: $dir;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin loader() {
    .loader {
        animation: spin 0.5s infinite linear;
    }

    @keyframes spin {
        from {
            rotate: 0deg;
        }

        to {
            rotate: 360deg;
        }
    }
}