:root[data-theme='dark'] {
    --primary: 100, 50, 255;
    --bg: 15, 10, 15;
    --fg: 255, 255, 255;
    --red: 255, 0, 0;
}

:root[data-theme='light'] {
    --primary: 100, 150, 255;
    --bg: 255, 255, 255;
    --fg: 2, 4, 32;
    --red: 255, 75, 0;
}